/*Main CSS file */

/*CSS reset*/
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
    margin: 0 auto;
    width: 50%;
}

/* Fonts */
@font-face {
    font-family: Roboto-regular; /* Имя шрифта */
    src: url(/public/fonts/font_roboto_regular.woff); /* Путь к файлу со шрифтом */
   }
  
@font-face {
    font-family: Roboto-bold; /* Имя шрифта */
    src: url(/public/fonts/font_roboto_bold.woff); /* Путь к файлу со шрифтом */
   }

/* Common styles */
article, aside, footer, header, main, nav, section{ display: block; }
html{ height: 100%;	}
body {
    font: 14px Roboto-Regular;
    line-height: 1.2;
    letter-spacing: normal;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}
header {
    height: 60px;
    background: #3197d6;
}
input, textarea, select {
    padding: 5px;
    margin: 5px 10px 5px 0;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-sizing: border-box;
    font: 14px Roboto-Regular;
}
table input, table select, table textarea {
    width: 100%;
}

button {
    height: 35px;
    background-color: #394956 !important;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 30px;
    margin: 10px 0;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    transition: 0.25s;
}
button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.25s;
}
button:active {
    background-color: #426079;
}

td, th {
    padding: 3px;
}
th {
    font-weight: normal;
    text-align: left;
}

.ticket-list {
    width: 90%;
    margin-top: 20px;
}
.ticket-list td, .ticket-list th {
    border: 1px solid black;
}

textarea {
    resize: none;
}

.status {
    background-color: rgb(235, 235, 235) !important;
    text-align: center;
    width: 98%;
    height: 28px;
    border-radius: 5px;
    margin: auto;
    padding-top: 6px;
    display: block;
    pointer-events: none;
}
.on_evaluating  {
    background-color: #FFECB3 !important;
}
.on_waiting  {
    background-color: #FFECB3 !important;
}
.confirmed  {
    background-color: #C5E1A5 !important;
}
.on_confirmation  {
    background-color: #FFECB3 !important;
}
.scheduled  {
    background-color: #B2EBF2 !important;
}
.no_evaluates  {
    background-color: #CFD8DC !important;
}
.deadline_is_out  {
    background-color: #ffcdd2 !important;
}

.title h1 a {
    float:left;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    margin-top: 19px;
}

.user{
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 24px;
    float: right;
    margin-top: 19px;
}
.user a{
    margin-right: 30px;
    font-size: 16px;
    color:#ffffff;
}

.system-title{
    height: 44px;
    background: #d6dde3;
}

.system-title h2{
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}

.ticket {
    margin-top: 20px;
    text-align: center;
}
.ticket_title {
    font-weight: bold;
    font-size: 16px;
}

.content-login{ min-height: calc(100vh - 300px); }

.login {
    width: 450px;
    height: 280px;
    border: 1px solid #a7a7a7;
    margin: 75px auto 0;
    border-radius: 5px;
    background-color:white;
}
.login p {
    display: block;
    text-align: center;
    margin: 0 auto;
}
.login h2{
    margin-top: 30px;
    margin-bottom: 10px;
    color: #a7a7a7;
    text-align: center;
    font-size: 20px;
}
input[type=submit],.signInButton {
    display: block;
    width: 250px;
    background-color: #394956;
    color: white;
    padding: 14px 20px;
    margin-top:20px; 
    margin-left: 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.25s;
}
input[id=login], input[id=password] {
    display: inline-block;
    width: 350px;
    padding: 5px 10px;
    margin: 10px 50px;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

.logo {
    margin: 125px auto 0;
    text-align: center;
}